@{
    ViewBag.Title = "Anasayfa";
}

<div class="row">
    <div class="col-md-12">
        <h2>Eğitim</h2>
        <p>
            Eğitim yapmak için tıklayın.
        </p>
      <p><a class="btn btn-default" href="/api/Train">Eğit &raquo;</a></p>
    </div>
</div>